.simple-form {
  margin: 50px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
  background-color: black;
  color: white;

  .input-wrapper {
    margin-bottom: 10px;

    .label {
      display: block;

      .input {
        background-color: #EFEFFF;
        margin-left: 10px;
      }

      .error-message {
        color: red;
        margin: 5px;
      }
    }
  }

  .label {
    display: block;

    .input {
      background-color: #EFEFFF;
      margin-left: 10px;
    }

    .error-message {
      color: red;
      margin: 5px;
    }
  }
}